# Build files
build/
cmake-build-*/

# 3rd Party dependencies
third_party/

# Compiled files
*.o
*.obj
*.lo
*.a
*.lib
*.so
*.so.*
*.dylib
*.dll
*.exe

# IDE
.vscode/
.idea/

# Visual Studio
.vs/
*.vcxproj.user
# macOS
.DS_Store

# Python
__pycache__/
*.pyc

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
Makefile
CMakePresets.json

# Testing
Testing/

# Logs
*.log